.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Created by https://www.toptal.com/developers/gitignore/api/vercel,svelte
# Edit at https://www.toptal.com/developers/gitignore?templates=vercel,svelte

### Svelte ###
# gitignore template for the SvelteKit, frontend web component framework
# website: https://kit.svelte.dev/

.svelte-kit/
package

### Vercel ###
.vercel

# End of https://www.toptal.com/developers/gitignore/api/vercel,svelte